<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vaizn.data.busi.dal.mapper.DescriptionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.vaizn.data.busi.dal.entity.DescriptionInfo" >
    <id column="desc_id" property="descId" />
    <result column="desc_title" property="descTitle" />
    <result column="desc_category" property="descCategory" />
    <result column="desc_source" property="descSource" />
    <result column="create_date" property="createDate" />
    <result column="desc_status" property="descStatus" />
    <result column="desc_detail" property="descDetail" />
  </resultMap>
  
  <delete id="deleteDescByIds" parameterType="string">
  	delete from t_description_info where desc_id in
  	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
  		#{item}
  	</foreach>
  </delete>
  
  <update id="updateDescStatusByIds" parameterType="com.vaizn.data.dto.product.DescSaveRequest">
  	update t_description_info set desc_status = #{descStatus} where desc_id in
  	<foreach collection="descIds" index="index" item="item" open="(" separator="," close=")">
  		#{item}
  	</foreach>
  </update>
  
</mapper>