<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vaizn.data.busi.dal.mapper.SysPrivilegeMapper" >
  <resultMap id="BaseResultMap" type="com.vaizn.data.busi.dal.entity.SysPrivilege" >
    <id column="privilege_id" property="privilegeId" jdbcType="VARCHAR" />
    <result column="privilege_master" property="privilegeMaster" jdbcType="VARCHAR" />
    <result column="master_code" property="masterCode" jdbcType="VARCHAR" />
    <result column="privilege_access" property="privilegeAccess" jdbcType="VARCHAR" />
    <result column="access_code" property="accessCode" jdbcType="VARCHAR" />
    <result column="privilege_operator" property="privilegeOperator" jdbcType="VARCHAR" />
    <result column="privilege_creator" property="privilegeCreator" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="privilege_moditor" property="privilegeModitor" jdbcType="VARCHAR" />
    <result column="modi_date" property="modiDate" jdbcType="DATE" />
  </resultMap>
  
  <resultMap id="userPermission" type="com.vaizn.common.vo.UserPermissionVo">
  	<result column="resource_id" property="resourceId" />
  	<result column="parent_id" property="parentId" />
  	<result column="parent_name" property="parentName" />
  	<result column="resource_code" property="resourceCode" />
  	<result column="resource_name" property="resourceName" />
  	<result column="resource_url" property="resourceUrl" />
  	<result column="resource_status" property="resourceStatus" />
  	<result column="resource_order" property="resourceOrder" />
  	<result column="resource_type" property="resourceType" />
  	<result column="module_code" property="moduleCode" />
  </resultMap>
  
  <select id="getUserPrivilege" resultMap="userPermission" parameterType="String">
	select a.resource_id,a.parent_id,a.parent_name,a.resource_code,a.resource_name,a.resource_status,
	a.resource_order,a.resource_url,a.resource_type,a.module_code from sys_resource a, sys_privilege b
	where a.resource_id = b.access_code and (b.master_code = #{userId} or
	exists (select 1 from sys_user_role c where b.master_code = c.role_id and c.user_id = #{userId}))
	and b.privilege_operator = '10' order by a.parent_id,a.resource_order asc
  </select>
  
  <delete id="deleteResourcePrivilege" parameterType="String">
  	delete from sys_privilege where FIND_IN_SET(access_code, queryResourceChildren(#{resourceId}))
  </delete>
  
</mapper>